<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender with simple time and message pattern -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger using the console appender -->
    <root level="INFO">
        <appender-ref ref="Console" />
    </root>

</configuration>
